<ion-header no-border class="box-shadow dsfm_override_ion_nav_header">
  <ion-navbar color="white" hideBackButton>
    <ion-buttons start>
      <button ion-button clear (click)="goToExplore()">
        <ion-icon class="dsfm_icon-size color_white" name="arrow-round-back" size="large"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo.png" width="150" alt="">
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="segmentView" color="muted">
      <ion-segment-button class="dsfm_color_white_text" value="0">
        Mensagem
      </ion-segment-button>
      <ion-segment-button class="dsfm_color_white_text" value="1">
        <div class="inline pos-rlt">
          Dogs
          <div class="segment-badge">3</div>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segmentView">
    <div *ngSwitchCase="'0'">
      <div class="wrapper-xs">
        <ion-searchbar placeholder="Buscar Pet" class="search-bar"></ion-searchbar>
      </div>
      <div>
        <div class="wrapper-xs padder">
          <div ion-text color="danger" class="font-bold">
            Novos Pets
            <ion-badge color="danger">1</ion-badge>
          </div>
        </div>
        <div class="wrapper-xs padder matches-thumbs">
          <ion-scroll scrollX="true">
            <div class="thumbs-wrapper">
              <div class="matches-thumb" *ngFor="let i of [0,1,2,3,4,5,6]" (click)="goToChat(true)">
                <demo-avatar [sizeClass]="'thumb-md'"></demo-avatar>
                <div class="online-status"></div>
                <div class="text-center text-ellipsis">Pet</div>
              </div>
            </div>
          </ion-scroll>
        </div>
      </div>

      <div>
        <div class="wrapper-xs padder">
          <div ion-text color="danger" class="font-bold">
            Mensagens
          </div>
        </div>
        <div class="wrapper-xs padder-sm">
          <ion-row align-items-center (click)="goToChat()">
            <ion-col col-auto>
              <demo-avatar [sizeClass]="'thumb-md'"></demo-avatar>
            </ion-col>
            <ion-col>
              <div>
                <div class="text-lg">Pet</div>
                <div class="text-muted">?</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row align-items-center (click)="goToChat()">
            <ion-col col-auto>
              <demo-avatar [sizeClass]="'thumb-md'"></demo-avatar>
            </ion-col>
            <ion-col>
              <div>
                <div class="text-lg">Outro Pet</div>
                <div class="text-muted">Enviou um GIF</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'1'">
      <div *ngFor="let item of feedItems; let i = index">
        <ion-row class="wrapper-xs" align-items-center>
          <ion-col col-auto>
            <demo-avatar [sizeClass]="'thumb-sm'"></demo-avatar>
          </ion-col>
          <ion-col>
            <div>
              <div class="text-md font-bold">Dog Fofo</div>
              <div class="text-sm text-muted">há 10 minutos</div>
            </div>
          </ion-col>
          <ion-col col-auto>
            <ion-icon name="ios-more" class="text-3x" color="border"></ion-icon>
          </ion-col>
        </ion-row>

        <div class="header-cover">
          <div [style.backgroundImage]="'url(' + item.url + ')'" class="div-img"></div>
          <button ion-button icon-button color="danger" round class="btn-rounded btn-fab" (click)="segmentView = 0;">
            <ion-icon name="ios-chatbubbles"></ion-icon>
          </button>
        </div>

        <div class="wrapper">
          <div class="text-muted l-h-2x">
            <div>
              <ion-icon name="alert"></ion-icon>
              {{ item.nome }}
            </div>
            <div>
              <ion-icon name="ios-pin-outline" class="m-r-xs"></ion-icon>
              Guarulhos, São Paulo.
            </div>
            <div>
              <button ion-button color="secondary" [innerHTML]="item.price"></button>
              <button ion-button outline color="gold" >Ofertar</button>
              <button ion-button outline color="superlike">VIP</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
