<ion-content class="bottom-padding">
  <div class="header-cover">
    <div class="slide-pager" layout horizontal center>
      <div flex class="pager-bullet" *ngFor="let item of slideImages; let i = index" [ngClass]="{active: i == currentSlideIndex}"></div>
    </div>

    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let item of slideImages; let i = index">
        <div [style.backgroundImage]="'url(' + item.url + ')'" class="div-img"></div>
      </ion-slide>
    </ion-slides>
    <button ion-button icon-button color="danger" round class="btn-rounded btn-fab" (click)="close()">
      <ion-icon name="md-arrow-round-down"></ion-icon>
    </button>
  </div>

  <div class="wrapper b-b b-light">
    <div class="text-2x m-b-sm">
      <span class="font-bold">Costela</span><span class="text-xl">, 3</span>
    </div>
    <div class="text-muted l-h">
      <div>
        <ion-icon name="alert"></ion-icon>
        Dachshund
      </div>
      <div>
        <ion-icon name="ios-pin-outline" class="m-r-xs"></ion-icon>
        Guarulhos, SP
      </div>
    </div>
  </div>

  <div class="wrapper text-muted b-b b-light">
    Melhores cachorrinhos são os Salsichas
  </div>
  <ion-list *ngIf="!isMe">
    <ion-item text-center class="l-s-1x">
      <div ion-text color="danger" class="font-bold">
        RECOMENDAR PET
        <div class="text-xxs">PARA AMIGO</div>
      </div>
    </ion-item>
  </ion-list>

  <div class="wrapper text-muted b-b b-light">
    <div class="color-black font-bold m-b">645 Amigos em comum</div>

    Aqui fica a descrição completa dos PET: Onde fica sua casa, gostos, o que gosta de brincar, etc.
  </div>

  <div class="wrapper text-muted b-b b-light">
    <instagram-photo></instagram-photo>
  </div>

  <div class="wrapper text-muted b-b b-light">
    <div class="color-black font-bold m-b">Interesses em Comum</div>

    <div>
      <button ion-button outline small color="danger">Filhotes</button>
      <button ion-button outline small color="danger">Sexo diferentes</button>
      <button ion-button outline small color="danger">Até 4 Anos</button>
      <button ion-button outline small color="danger">Qualquer raça</button>
    </div>
  </div>

</ion-content>

<div class="bottom-buttons" *ngIf="isMe">
  <button ion-button color="light" class="btn-default" (click)="edit()">EDIT INFO</button>
</div>

<div class="bottom-actions bottom-buttons" horizontal layout center center-center *ngIf="!isMe">
  <button ion-button color="light" (click)="close()" class="button-dislike">
    <ion-icon name="md-close"></ion-icon>
  </button>
  <button ion-button color="light" class="button-like">
    <ion-icon name="md-heart"></ion-icon>
  </button>
</div>
