<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>Edit Info</ion-title>

    <ion-buttons end>
      <button ion-button clear color="secondary" (click)="close()">
        Salvar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="bg-custom">
  <div class="profile-images-edit">
    <div class="profile-image" *ngFor="let image of profileImages; let i = index" (click)="openPhotoPicker(i)">
      <div [style.backgroundImage]="'url(' + profileImages[i] + ')'" class="div-img img-square r-3x"></div>
      <button ion-button icon-only clear class="btn-edit" (click)="removeImage(i)" *ngIf="profileImages[i] != ''">
        <ion-icon name="md-close" color="danger"></ion-icon>
      </button>
      <button ion-button icon-only clear class="btn-edit" *ngIf="profileImages[i] == ''">
        <ion-icon name="md-add-circle" color="secondary"></ion-icon>
      </button>
    </div>
  </div>

  <ion-list no-lines>
    <ion-list-header>
    </ion-list-header>
    <ion-item class="line-merge-down">
      Nome
      <ion-note item-end>
        Pitty
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Raça
      <ion-note item-end>
        Sem Raça definida
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list no-lines>
    <ion-list-header>
      DESCRIÇÃO DO PET
    </ion-list-header>
    <ion-item class="text-muted" text-wrap>
      <ion-textarea placeholder="Enter a description" value="Descrição do cachorrinho, da sua casa, hábitos, o que gosta de comer, de onde vêm, etc."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-note item-end>
        <span class="text-xs">435</span>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list no-lines>
    <ion-item class="line-merge-down">
      Data de Nascimento
      <ion-note item-end>
        12/03/2017
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Gênero
    </ion-list-header>
    <button ion-item>
      Fêmea
    </button>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header>
      PERFIL DO DONO
    </ion-list-header>
    <ion-item class="line-merge-down">
      Nome
      <ion-note item-end>
        João Rossi
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Data de Nascimento
      <ion-note item-end>
        31/12/1996
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      E-mail
      <ion-note item-end>
        joao@ung.com.br
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      CPF
      <ion-note item-end>
        123.456.789-10
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Endereço
      <ion-note item-end>
        R. Praças Juventus
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Número
      <ion-note item-end>
        206
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Complemento
      <ion-note item-end>
        
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Bairro
      <ion-note item-end>
        Jardim Pedras
      </ion-note>
    </ion-item>
    <ion-item class="line-merge-down">
      Cidade
      <ion-note item-end>
        Guarulhos, SP
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Gênero
    </ion-list-header>
    <button ion-item>
      Masculino
    </button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      INSTAGRAM
    </ion-list-header>
    <ion-item>
      <ion-icon name="logo-instagram" color="secondary" item-start></ion-icon>
      @joaorossi
      <ion-note item-end>
        <span class="text-xs" color="secondary">CONECTADO</span>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
