page-tinder-plus {
  .tinder-plus-banner {
    position: relative;
    .cta {
      text-align: center;
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
    }
  }
  .dsfm_text_calendario_data {
      margin-top: 15px;
      text-align: center;
      font-size: 36px !important;
      display: block !important;
  }

  .scroll-content {
    background-color: #FCCCA8 !important;
  }
  .dsfm_calendario_bg
  {
    background-color: #FFF !important;
  }
  .toolbar-background.toolbar-background-ios {
    background-color: #C56F58 !important;
  }
  ion-icon.back-button-icon.icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
      color: #FFF !important;
  }
  .toolbar-title.toolbar-title-ios {
    color: #FFF !important;
  }
  button.bar-button.bar-button-ios.bar-button-clear.bar-button-clear-ios.bar-button-clear-ios-secondary {
      color: #FFF;
  }
  button.bar-button.bar-button-ios.bar-button-clear.bar-button-clear-ios.bar-button-clear-ios-like {
    color: #FFF;
  }
}
