$dsfm_override_base: (
    ion_content: #FABB6E,
    ion_nav_hamb: #FFF,
    text_white: #FFF,
    swipe_bg: #F98D45,
    ion_nav_header: #FF7101,
);
$dsfm_override_base_button: (
    ion_button_orange_white: #FCCCA8
);
$dsfm_override_card: (
    caption_text: #000,
    caption_bg: #FFF,
);