<ion-header no-border>
  <ion-navbar color="white" class="dsfm_override_ion_nav_header" hideBackButton>
    <ion-title>
      <img src="assets/img/logo.png" width="150" alt="">
    </ion-title>

    <ion-buttons end>
      <button ion-button clear (click)="goToExplore()">
        <ion-icon class="dsfm_icon-size" name="arrow-round-forward" size="large"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce class="bg-custom">
  <div layout vertical>
    <div flex three class="bg-white">
      <div class="wrapper text-center">
        <div class="big-thumb" (click)="openProfile()">
          <img src="assets/img/dog_perfil.jpg" class="rounded box-shadow" alt="">
        </div>
        <div class="text-2x">Pitty</div>
        <div class=""><span class="text-muted">Localização:</span> Guarulhos, SP.</div>
        <div class=""><span class="text-muted">Raça:</span> Sem raça definida.</div>
      </div>

      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-6 class="text-center">
              <button ion-button icon-only color="light" class="dsfm_color_pele" (click)="openSettings()">
                <ion-icon name="md-settings"></ion-icon>
              </button>
              <div class="text-muted text-xxs l-s-1x m-t-xs">CONFIGURAÇÕES</div>
            </ion-col>
            <ion-col col-6 class="text-center">
              <button ion-button icon-only color="light" class="dsfm_color_pele" (click)="openProfileEdit()">
                <ion-icon name="md-create"></ion-icon>
              </button>
              <div class="text-muted text-xxs l-s-1x m-t-xs">EDITAR PERFIL</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div flex two class="me-bottom-bg dsfm_override_me_bottom_bg">
      <div class="oval"></div>

      <div class="wrapper text-center">
        <button *ngIf="currentSlideIndex == 0" ion-button color="light" class="btn-default" (click)="openTinderPlus()">
          <span ion-text color="secondary">CALENDÁRIO DO CÃOZINHO</span>
        </button>
      
        <button *ngIf="currentSlideIndex == 1" ion-button color="light" class="btn-default" (click)="openDogNews()">
          <span ion-text color="superlike">ADOÇÕES & VENDAS</span>
        </button>
      
        <button *ngIf="currentSlideIndex == 2" ion-button color="light" class="btn-default" (click)="openServico()">
          <span ion-text color="star">PETSHOP</span>
        </button>
      
        <button *ngIf="currentSlideIndex == 3" ion-button color="light" class="btn-default" (click)="openVoucher()">
          <span ion-text color="superlike">DESCONTOS & VOUCHERS</span>
        </button>
      
      </div>

      <ion-slides pager class="bottom-slides" autoplay="3000" (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div class="slide-title">
            <ion-icon name="calendar" color="secondary"></ion-icon>
            Vacina contra raiva.
          </div>
          <p>Última vacina</p>
        </ion-slide>
        <ion-slide>
          <div class="slide-title">
            <ion-icon name="ios-flash" color="superlike"></ion-icon>
            Adote seu Cãozinho
          </div>
          <p>Adoção</p>
        </ion-slide>
        <ion-slide>
          <div class="slide-title">
            <ion-icon name="md-star" color="star"></ion-icon>
            Serviços Pet
          </div>
          <p>Ração, tosa, banho</p>
        </ion-slide>
        <ion-slide>
          <div class="slide-title">
            <ion-icon name="md-pin" color="superlike"></ion-icon>
            Vouchers para seu Pet
          </div>
          <p>Descontos & Brindes</p>
        </ion-slide>
      </ion-slides>


    </div>
  </div>
</ion-content>
